﻿@model User

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            Полное имя пользователя
            <p>@Html.EditorFor(model => model.Name)</p>
        </div>

        <div>
            Является ли пользователь бесплатным клиентом
            <p>@Html.EditorFor(model => model.Free)</p>
        </div>

        <div>
            Установленное психическое расстройство
            <p>@Html.EditorFor(model => model.PredeterminedDiagnosis)</p>
        </div>

        <p><input type="submit" value="Добавить" /></p>
        @Html.ActionLink("Назад", "Index", "User")
    }
</div>
