﻿@model User

<h3>Вы действительно хотите удалить данного пользователя?</h3>
<div>
    <h3>Идентификатор:  @Html.DisplayFor(m => m.Id)</h3>
    <p>Полное имя пользователя: @Html.DisplayFor(m => m.Name)</p>
    <p>Является ли бесплатным клиентом: @Html.DisplayFor(m => m.Free)</p>
    <p>Подтверждённое психическое расстройство: @Html.DisplayFor(m => m.PredeterminedDiagnosis)</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="Удалить" />
    }

    @Html.ActionLink("Назад", "Index", "User")
</div>