﻿@model IEnumerable<User>

<h2>Список пользователей</h2>
<table border="1">
    <tr>
        <th>Идентификатор пользователя</th>
        <th>Полное имя пользователя</th>
        <th>Является ли бесплатным клиентом</th>
        <th>Подтверждённое психическое расстройство</th>
        <th>Действия:</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.Name</td>
            <td>@c.Free</td>
            <td>@c.PredeterminedDiagnosis</td>
            <td>
                @Html.ActionLink("Смотреть", "GetUser", "User", new { id = c.Id }) |
                @Html.ActionLink("Изменить", "UpdateUser", "User", new { id = c.Id }) |
                @Html.ActionLink("Удалить", "DeleteUser", "User", new { id = c.Id })
            </td>
        </tr>
    }
</table>
<p> @Html.ActionLink("Добавить", "CreateUser", "User")</p>
