﻿@model User
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            Полное имя пользователя
            <p>@Html.EditorFor(model => model.Name)</p>
        </div>

        <div>
            Является ли бесплатным клиентом
            <p>@Html.EditorFor(model => model.Free)</p>
        </div>

        <div>
            Подтверждённое психическое расстройство
            <p>@Html.EditorFor(model => model.PredeterminedDiagnosis)</p>
        </div>

        <p><input type="submit" value="Сохранить" /></p>
        @Html.ActionLink("Назад", "Index", "User")
    }
</div>