html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

TABLE {
    border-collapse: collapse;
}

TD, TH {
    padding: 3px;
    border: 1px solid black;
    text-align: center
}

TH {
    background: #4287f5;
    font-weight: bold
}
