﻿@model GameSession

<h3>Вы действительно хотите удалить данную игровую сессию?</h3>
<div>
    <h3>Идентификатор:  @Html.DisplayFor(m => m.Id)</h3>
    <p>Дата сессии: @Html.DisplayFor(m => m.Date)</p>
    <p>Среднее количество здоровья: @Html.DisplayFor(m => m.Health)</p>
    <p>Среднее количество кликов в минуту за всю сессию: @Html.DisplayFor(m => m.APM)</p>
    <p>Количество диалогов: @Html.DisplayFor(m => m.DialogsCount)</p>
    <p>Длительность сессии: @Html.DisplayFor(m => m.Duration)</p>
    <p>Первый критерий депрессии из DSM-5: @Html.DisplayFor(m => m.k1)</p>
    <p>Второй критерий депрессии из DSM-5: @Html.DisplayFor(m => m.k2)</p>
    <p>Третий критерий депрессии из DSM-5: @Html.DisplayFor(m => m.k3)</p>
    <p>Идентификатор пользователя: @Html.DisplayFor(m => m.userId)</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="Удалить" />
    }

    @Html.ActionLink("Назад", "Index", "GameSession")
</div>