﻿@model IEnumerable<GameSession>

<h2>Список игровых сессий</h2>
<table border="1">
    <tr>
        <th>Идентификатор игровой сессии</th>
        <th>Дата сессии</th>
        <th>Среднее количество здоровья</th>
        <th>Среднее количество кликов в минуту за всю сессию</th>
        <th>Количество диалогов</th>
        <th>Длительность сессии</th>
        <th>Первый критерий депрессии из DSM-5</th>
        <th>Второй критерий депрессии из DSM-5</th>
        <th>Третий критерий депрессии из DSM-5</th>
        <th>Идентификатор пользователя:</th>
        <th>Действия:</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.Date</td>
            <td>@c.Health</td>
            <td>@c.APM</td>
            <td>@c.DialogsCount</td>
            <td>@c.Duration</td>
            <td>@c.k1</td>
            <td>@c.k2</td>
            <td>@c.k3</td>
            <td>@c.userId</td>
            <td>
                @Html.ActionLink("Смотреть", "GetGameSession", "GameSession", new { id = c.Id })<br>
                @Html.ActionLink("Изменить", "UpdateGameSession", "GameSession", new { id = c.Id })<br>
                @Html.ActionLink("Удалить", "DeleteGameSession", "GameSession", new { id = c.Id })
            </td>
        </tr>
    }
</table>
<p> @Html.ActionLink("Добавить", "CreateGameSession", "GameSession")</p>
