﻿@model GameSession
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            Дата сессии
            <p>@Html.EditorFor(model => model.Date)</p>
        </div>

        <div>
            Среднее количество здоровья
            <p>@Html.EditorFor(model => model.Health)</p>
        </div>

        <div>
            Среднее количество кликов в минуту за всю сессию
            <p>@Html.EditorFor(model => model.APM)</p>
        </div>

        <div>
            Количество диалогов
            <p>@Html.EditorFor(model => model.DialogsCount)</p>
        </div>

        <div>
            Длительность сессии
            <p>@Html.EditorFor(model => model.Duration)</p>
        </div>

        <div>
            Первый критерий депрессии из DSM-5
            <p>@Html.EditorFor(model => model.k1)</p>
        </div>

        <div>
            Второй критерий депрессии из DSM-5
            <p>@Html.EditorFor(model => model.k2)</p>
        </div>

        <div>
            Третий критерий депрессии из DSM-5
            <p>@Html.EditorFor(model => model.k3)</p>
        </div>

        <div>
            Идентификатор пользователя
            <p>@Html.EditorFor(model => model.userId)</p>
        </div>

        <p><input type="submit" value="Сохранить" /></p>
        @Html.ActionLink("Назад", "Index", "GameSession")
    }
</div>